# 1. Introduction

## Objective   : 

This program is made to validate the dataset using Great Expectation

# 2. Import Libraries

In [2]:
import pandas as pd
import numpy as np

# 3. Data Loading

In [116]:
data = pd.read_csv("D:/HCK015/Phase 2/Milestone 3/p2-ftds015-hck-m3-Reaumurr/P2M3_Reski_Hidayat/dags/P2M3_Reski_Hidayat_data_clean.csv")

In [117]:
# Tambahkan kolom 'cust_id'
data['cust_id'] = data.apply(lambda row: f"{row['subscription_length']}{row['age_group']}{row['tariff_plan']}{row['status']}{row['age']}{row.name}", axis=1)

# Masukkan 'cust_id' di posisi pertama
cust_id_column = data.pop('cust_id') # Pindahkan 'cust_id' dari DataFrame dan simpan di variabel
data.insert(0, 'cust_id', cust_id_column) # Masukkan 'cust_id' di posisi pertama

# Menampilkan DataFrame hasil
data

,cust_id,call_failure,complains,subscription_length,charge_amount,seconds_of_use,frequency_of_use,frequency_of_sms,distinct_called_numbers,age_group,tariff_plan,status,age,customer_value,churn
0,38.03.01.01.030.00,8,0,38,0,4370,71,5,17,3,1,1,30,197.640,0
1,39.02.01.02.025.01,0,0,39,0,318,5,7,4,2,1,2,25,46.035,0
2,37.03.01.01.030.02,10,0,37,0,2453,60,359,24,3,1,1,30,1536.520,0
3,38.01.01.01.015.03,10,0,38,0,4198,66,1,35,1,1,1,15,240.020,0
4,38.01.01.01.015.04,3,0,38,0,2393,58,2,33,1,1,1,15,145.805,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2845,17.05.01.01.055.02845,17,0,17,1,9237,177,80,42,5,1,1,55,261.210,0
2846,18.03.01.01.030.02846,13,0,18,4,3157,51,38,21,3,1,1,30,280.320,0
2847,11.03.01.01.030.02847,8,1,11,2,1792,25,7,9,3,1,1,30,100.680,1
2848,38.05.02.01.055.02848,26,0,38,9,10740,99,8,44,5,2,1,55,174.585,0
2849,38.04.01.02.045.02849,5,1,38,0,933,13,16,6,4,1,2,45,63.650,1

Creating `cust_id` columns using combination `subscription_length`, `age_group`, `tariff_plan`, `status`, `age` and adding sequential numbers each row

In [118]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2850 entries, 0 to 2849
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cust_id                  2850 non-null   object
 1   call_failure             2850 non-null   int64
 2   complains                2850 non-null   int64
 3   subscription_length      2850 non-null   int64
 4   charge_amount            2850 non-null   int64
 5   seconds_of_use           2850 non-null   int64
 6   frequency_of_use         2850 non-null   int64
 7   frequency_of_sms         2850 non-null   int64
 8   distinct_called_numbers  2850 non-null   int64
 9   age_group                2850 non-null   int64
 10  tariff_plan              2850 non-null   int64
 11  status                   2850 non-null   int64
 12  age                      2850 non-null   int64
 13  customer_value           2850 non-null   float64
 14  churn                    2850 non-null   int64
dtypes: float64(1), int64(13), object(1)
memory usage: 334.1+ KB

Showing the info of dataframe

In [119]:
data.to_csv('P2M3_Reski_Hidayat_data_GX.csv', index=False)

Saving the new dataframe

# 4. Great Expectation

In [121]:
# Create a data context

from great_expectations.data_context import FileDataContext

context = FileDataContext.create(project_root_dir='D:/HCK015/Phase 2/Milestone 3/p2-ftds015-hck-m3-Reaumurr/')

In [122]:
# Give a name to a Datasource. This name must be unique between Datasources.
datasource_name = 'csv-customer-churn'
datasource = context.sources.add_pandas(datasource_name)

# Give a name to a data asset
asset_name = 'customer-churn'
path_to_data = 'D:/HCK015/Phase 2/Milestone 3/p2-ftds015-hck-m3-Reaumurr/P2M3_Reski_Hidayat_data_GX.csv'
asset = datasource.add_csv_asset(asset_name, filepath_or_buffer=path_to_data)

# Build batch request
batch_request = asset.build_batch_request()

In [123]:
# Creat an expectation suite
expectation_suite_name = 'expectation-customer-churn-dataset'
context.add_or_update_expectation_suite(expectation_suite_name)

# Create a validator using above expectation suite
validator = context.get_validator(
    batch_request = batch_request,
    expectation_suite_name = expectation_suite_name
)

# Check the validator
validator.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,cust_id,call_failure,complains,subscription_length,charge_amount,seconds_of_use,frequency_of_use,frequency_of_sms,distinct_called_numbers,age_group,tariff_plan,status,age,customer_value,churn
0,38.03.01.01.030.00,8,0,38,0,4370,71,5,17,3,1,1,30,197.640,0
1,39.02.01.02.025.01,0,0,39,0,318,5,7,4,2,1,2,25,46.035,0
2,37.03.01.01.030.02,10,0,37,0,2453,60,359,24,3,1,1,30,1536.520,0
3,38.01.01.01.015.03,10,0,38,0,4198,66,1,35,1,1,1,15,240.020,0
4,38.01.01.01.015.04,3,0,38,0,2393,58,2,33,1,1,1,15,145.805,0

In [124]:
validator.expect_column_values_to_be_unique("cust_id")

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 2850,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

The expect_column_values_to_be_unique method for checks if the values in "cust_id", are unique. If any duplicate values are found, the validation will fail. But the result is True means there are no duplicate data on dataset

In [134]:
validator.expect_column_values_to_be_between("call_failure", min_value=0, max_value=100)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 2850,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

The expect_column_values_to_be_between method for checks if the values in the specified column, "call_failure", are between the minimum value of 0 and the maximum value of 100, inclusive. Since the result is true means there are no data is out of range values.

In [129]:
validator.expect_column_values_to_be_in_set("complains", [1, 0])

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 2850,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

The expect_column_values_to_be_in_set method for checks if the values in the specified column, "complains", are in the provided set of values, [1, 0]. The result is true means there no unexpected values on columns

In [140]:
validator.expect_column_values_to_be_of_type("status", "int64")

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": "int64"
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

The expect_column_values_to_be_of_type method for checks if the values in the specified column, "status", are of the specified data type, "int64". Since the result is true it means there is no mismatched data types on column.

In [143]:
validator.expect_column_values_to_not_be_null('customer_value')

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 2850,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

The expect_column_values_to_not_be_null method for checks if the values in the specified column, "customer_value", contain any null values. Since the result is true means there is no missing value in column

In [144]:
validator.expect_column_to_exist(column='subscription_length')

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

{
  "success": true,
  "result": {},
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

The expect_column_to_exist method for checks if the specified column, "subscription_length", exists in the dataset. Since the result is true means the column is exist in dataframe

In [150]:
validator.expect_column_distinct_values_to_equal_set("status", [1, 2])

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": [
      1,
      2
    ],
    "details": {
      "value_counts": [
        {
          "value": 1,
          "count": 2166
        },
        {
          "value": 2,
          "count": 684
        }
      ]
    }
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

The expect_column_distinct_values_to_equal_set method for checks if the distinct values in the specified column, "status", are equal to a specific set of values, [1, 2]. Since the result is true means the data conforms to a specific format or standard.

In [151]:
# Save into Expectation Suite

validator.save_expectation_suite(discard_failed_expectations=False)

The save_expectation_suite method to saves the current set of expectations into an expectation suite. An expectation suite is a collection of data validation rules that can be reused and shared across different datasets or projects.